body{
    background-color: rgba(140, 245, 126, 0.836);
}
canvas {
    width: 350px;
    height:  200px;
    background: #999;
    position: relative;
    left: 550px;
    top: 50px;
}

h1{
    margin-left: 15px;
    color: rgb(228, 40, 40);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
